<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="." />
    <add key="DataBase" value="VENTA_SERVICIOS" />
    <add key="User" value="USUARIO" />
    <add key="Password" value="123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>